
body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  color: #333;
  background-image:url("https://i.pinimg.com/236x/24/06/05/2406054d8cbcc5a73687a0668e70f971.jpg")
}

.container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  color: #8b0000; 
}


.navbar {
  background-color: #8b4513 !important; 
}


.Weather-input {
  text-align: center;
  margin-bottom: 30px;
}

.city-input {
  width: 60%;
  padding: 10px;
  border: 1px solid #8b0000; 
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 10px;
}

.search-btn,
.location-btn {
  padding: 10px 20px;
  background-color: #8b0000; 
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-btn:hover,
.location-btn:hover {
  background-color: #b22222; 
}


.Current-weather {
  text-align: center;
  margin-bottom: 30px;
}

.details {
  background-color: #ffe4b5; 
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.days-forecast {
  text-align: center;
}

.weather-cards {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

.card {
  width: 150px;
  padding: 20px;
  background-color: #ffe4b5; 
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
}

.card:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.card h2 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #8b0000; 
}

.card h4 {
  font-size: 14px;
  margin-bottom: 5px;
}

